<h1>Here's the organization's information</h1>
<% #ADD PHOTO %>
<h2>Name: <%= @shelter.name %></h2>
<h2>Home State: <%= @shelter.home_state %></h2>
<h2>Description: <%=  @shelter.about_us %></h2>
<h2>Dogs: </h2>
<br>
<div class="dog-box">
  <% @shelter.dogs.each do |dog| %>
    <div class="dog-tile">
      <h3><%= dog.name %>, <%= dog.age %></h3>
      <h3><%= dog.breed %></h3>
      <%= link_to 'Adopt', {:controller => "adoptions", :action => 'create', :dog => dog.id } %>
    </div>
  <% end %>
</div>
