<h1>Update your organization's information</h1>

<%= form_for @shelter, url: '/shelters' do |f| %>
  Name: <%= f.text_field :name %>
  Email: <%= f.text_field :email %>
  Home State: <%= f.text_field :home_state %>
  Tell us about your organization: <%= f.text_area :about_us %>
  <%= f.submit "Update" %>
<% end %>
