<h1>Here's your information</h1>
<% #ADD PHOTO %>
<h3>Name: <%= @shelter.name %></h3>
<h3>Email: <%= @shelter.email %></h3>
<h3>Home State: <%= @shelter.home_state %></h3>
<h3>Dogs: </h3>
<br>
<div class="dog-box">
  <% @shelter.dogs.each do |dog| %>
    <div class="dog-tile">
      <% #ADD PHOTO %>
      <h4><%= dog.name %>, <%= dog.age %></h4>
      <h4><%= dog.breed %></h4>
      <h4><a href=<%= edit_dog_path(dog.id) %>>Edit dog info</a></h4>
      <h4><%= button_to "Remove Dog", dog_path(dog.id), method: :delete %></h4>
    </div>
  <% end %>
</div>
<h2><a href=<%= new_dog_path %>>Add a Dog!</a></h2>
<h2><a href=<%= edit_shelter_path(@shelter.id) %>>Edit your info</a></h2>
<h2><%= link_to 'Remove Account', shelter_session_path(@shelter.id), method: :delete %></h2>
