<h1>Enter your updated information</h1>

<%= form_for @owner, url: owner_path(@owner.id), method: 'patch' do |f| %>
  Name: <%= f.text_field :name %>
  Email: <%= f.text_field :email %>
  Home State: <%= f.text_field :home_state %>
  Tell us about yourself: <%= f.text_area :about_me %>
  <% #ADD PROFILE PICTURE FIELD %>
  <% #? do you want your password to be able to be changed? %>
  <%= f.submit "Create" %>
<% end %>
