<h1>Enter your information</h1>

<%= form_for :owner, url: '/owners' do |f| %>
  Name: <%= f.text_field :name %>
  Email: <%= f.text_field :email %>
  Home State: <%= f.text_field :home_state %>
  Password: <%= f.password_field :password %>
  Password Confirmation: <%= f.password_field :password_confirmation %>
  Tell us about yourself: <%= f.text_area :about_me %>
  <% #ADD PROFILE PICTURE FIELD %>
  <%= f.submit "Create" %>
<% end %>
