<h1>Here's a look at the adoption you're proposing: </h1>

<%= form_for :adoption, url: 'adoptions' do |f| %>
  Owner: <%= @owner.name %>
  Shelter: <%=  @shelter.name  %>
  Dog to be adopted: <%= @dog.name  %>
  <ol>
    <li>Age: <%= @dog.age %></li>
    <li>Breed: <%= @dog.breed %></li>
    <li>Gender: <%= @dog.gender %></li>
    <li>Description: <%= @dog.description %></li>
  </ol>
  Confirmation of Adoption: <%= f.check_box :owner_conf, default: 1 %>
  <%= f.hidden_field :shelter_id, @shelter.id %>
  <%= f.hidden_field :dog_id, @dog.id %>
  <%= f.submit "Adopt your dog!" %>
  <%= button_to owner_path(@owner), 'I\'m not ready yet...' %>
<% end %>
