<div class="yield-field">
  <h1>Welcome to DogMa! Please Select  a login option below: </h1>
  <br>
  <div id="login-options">
    <%= button_to 'Shelter Login', '/shelters/login' %>
    <%= button_to 'Owner Login', '/owners/login' %>
    <br> <h3>or</h3> <br>
    <%= button_to 'Log in with Facebook!', '/auth/facebook' %>
  </div>

  <div id="signup-options">
    <%= button_to 'Shelter Signup', new_shelter_path %>
    <%= button_to 'Owner Signup', new_owner_path %>
  </div>
</div>
