<!DOCTYPE html>
<html>
  <head>
    <title>DogMa</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav id='nav'>
      <ul id='nav-ul'>
        <li><a href=<%= shelter_path(current_shelter(session)) %>>Your Account</a></li>
        <li><a href=<%= owners_path %>>Owners</a></li>
        <li><a href=<%= dogs_path %>>Dogs</a></li>
        <li><a href=<%= shelters_path %>>Shelters</a></li>
        <li><a href=<%= shelters_logout_path %>>Logout</a></li>
      </ul>
    </nav>

    <%= yield %>
  </body>
</html>
